body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #6c7279;
	/*цвет текста*/
	-webkit-font-smoothing: antialiased;
	/* сглаживание шрифтов*/

	background: #fff;
}

*,
*:before,
*after {
	box-sizing: border-box;
	/*блок ограничен фиксировано даже если есть padding*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/* HEADER */

.header {
	width: 100%;
	height: 150px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	padding-top: 35px;
}


/* NAV */

.nav {
	display: flex;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link {
	color: #fff;
	text-decoration: none;
	opacity: .75;
	transition: .2s linear;

	margin-left: 50px;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	opacity: 1;
}

/* INTRO */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	width: 100%;
	padding-top: 50px;

	background: url("../images/intro-bg.png") center no-repeat;
	background-size: cover;
	cursor: default;
}


.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	margin: 0 0 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;

	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
}

#befit {
	color: #FF0A12;
}


/* CONTENT */

.separator {
	margin: 3%;
	border: 0;
	height: 0px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.content h1 {
	color: #000;
	text-align: center;
	margin-bottom: 3%;
}

.content .container {
	width: 80%;
	display: flex;
	justify-content: center;
}

.content__block {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;

	width: 200px;
	text-align: center;

	margin: 2%;
	padding: 2%;

	border-radius: 3%;
	cursor: default;

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.185), 0 10px 10px rgba(0, 0, 0, 0.185);
	transition: box-shadow 0.5s linear;
}

.content__block:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.397), 0 10px 10px rgba(0, 0, 0, 0.384);
}

.content__img {
	width: 80px;
}

.content__inner {
	padding-top: 25px;
}

/* SLIDER */

.reviews__photo {
	height: 100vh;
}

/* FOOTER */

.footer {
	height: 300px;
	background-color: #dbdbdb;
	display: flex;
}

.footer__map {
	width: 50%;
}

.footer__contacts {
	width: 50%;
	text-align: center;
	padding-top: 10%;
}